@import '../../styles/colors.scss';

.SyncDevice {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;

  input {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.7px;
    text-align: center;
    color: $color-blue;
    margin-bottom: 48px;
    outline: none;
    border: 0;
  }

  .loader {
    margin-top: 32px;
  }

  .refeshIcon {
    animation: rotation 3s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

}
