@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.SyncDevice {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;

  // input {
    // width: 100%;
  //   font-size: 14px;
  //   font-weight: 600;
  //   letter-spacing: 0.7px;
  //   text-align: center;
  //   color: $color-blue;
  //   margin-bottom: 48px;
  //   outline: none;
  //   border: 0;
  // }
  .textField {
    width: 100%;
  }

  .loader {
    margin-top: 32px;
  }

  .refeshIcon {
    animation: rotation 3s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $mobile-width) {
      display: flex;
      flex-direction: column-reverse;
      >:first-child {
        margin-top: 12px;
        width: 100%;
      }
    }
  }
}
