@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.Apps {
  flex: 1;
  margin: 48px 48px 48px;

  @media (max-width: $mobile-width) {
    margin: 16px;
    width: unset;
  }

  .topSection {
    display: flex;
    // height: 50px;
    justify-content: space-between;
  }

  .cards {
    display: grid;
    grid-gap: 28px;
    @media (min-width: 1200px) {
      margin-right: 365px;
    }

    @media (min-width: 1400px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .Card {
    .trashIcon {
      cursor: pointer;
      color: $color-grey-300;
      &:hover {
        color: $color-blue-grey;
      }
    }
  }

  .recommendedApps {
    display: flex;
    flex-direction: column;
    width: 180px;
    align-items: center;

    .icon {
      cursor: pointer;
      @media (max-width: $mobile-width) {
        width: 100px;
        height: 100px;
      }
    }
  }
}

.Link {
  display: flex;
  align-items: center;
  :first-child {
    margin-right: 8px;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }
}
