@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.AuthApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: space-between;

  .appTitle {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.2px;
    text-align: center;
    color: $color-dark-blue-100;
    margin: 0;
    margin-bottom: 16px;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    @media (min-width: $mobile-width + 1px) {
      margin-top: 32px;
      >:nth-child(2) {
        margin-left: 12px;
      }
    }

    @media (max-width: $mobile-width) {
      margin-top: 0;
      display: flex;
      flex-direction: column-reverse;
      >:first-child {
        margin-top: 12px;
      }
    }
  }
}
