@import '../../styles/colors.scss';

.AuthApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: space-between;

  .appTitle {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.2px;
    text-align: center;
    color: $color-blue-dark;
    margin: 0;
    margin-bottom: 16px;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    @media (min-width: 801px) {
      margin-top: 32px;
      :first-child {
        margin-right: 12px;
      }
    }

    @media (max-width: 800px) {
      display: flex;
      flex-direction: column-reverse;
      :first-child {
        margin-top: 12px;
      }
    }
  }
}
