@import '../../styles/colors.scss';

$color-blue-grey: #697496;

@keyframes dot-keyframes {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Loader {
  display: flex;

  .dot {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    animation: dot-keyframes 2s infinite ease-in-out;

    &:nth-child(1) {
      margin-right: 10px;
      background-color: black;
    }

    &:nth-child(2) {
      margin-right: 10px;
      background-color: black;
      animation-delay: .5s
    }

    &:nth-child(3) {
      background-color: black;
      animation-delay: 1s;
    }
  }
}
