@import '../../styles/colors.scss';

.AddProfile {
  height: 100%;
  .content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .text {
      font-size: 14px;
      color: $color-blue-grey;
    }
  }
}
