@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.AddProfile {
  height: 100%;
  .content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: $mobile-width + 1px) {
      width: 400px
    }

    .text {
      font-size: 14px;
      color: $color-blue-grey;
    }
  }
}
