@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.Button {
  height: 50px;
  padding: 0;
  outline: none;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.5s;

  @media (max-width: $mobile-width) {
    width: 320px !important;
  }

  span {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    line-height: 2;
    letter-spacing: 0.5px;
    text-align: center;
    color: white;
  }
}

.secondary {
  opacity: 0.8;
  border: solid 1px $color-grey-300;
  background-color: $color-grey-100;

  span {
    color: $color-grey-300;
  }

  &:hover {
    border: solid 1px $color-blue-grey;
    span {
      color: $color-blue-grey;
    }
  }
}

.primary {
  background-color: $color-blue;
  &:hover {
    box-shadow: 0 5px 16px 0 rgba(69, 179, 248, 0.4);
  }
}

.success {
  background-color: $color-green;
  &:hover {
    box-shadow: 0 5px 16px 0 rgba(64, 174, 108, 0.4);
  }
}

.danger {
  background-color: $color-red;
  &:hover {
    box-shadow: 0 5px 16px 0 rgba(229, 59, 91, 0.4);
  }
}

.neutral {
  background-color: $color-blue-grey;
  &:hover {
    box-shadow: 0 5px 16px 0 rgba(92, 111, 132, 0.4)
  }
}
