@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';
.PasswordStrength {
    width: 300px;
    .PasswordRules ul {
        padding: 0;
        margin: 0;
    }
    .PasswordRules {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .icon {
            position: relative;
            .lockIcon {
                color: $color-success;
                position: absolute;
                left: 50%;
                top: 45%;
                transform: translate(-50%, -50%);
            }
            .force-0 {
                color: $color-danger;
            }
            .force-1 {
                color: $color-danger;
            }
            .force-2 {
                color: $color-warning;
            }
            .force-3 {
                color: $color-warning;
            }
            .force-4 {
                color: $color-warning;
            }
            .force-5 {
                color: $color-success;
            }
        }
    }
    .Description {
        font-family: Asap;
        font-size: 15px;
        line-height: 1.5;
        color: $color-blue-dark;
    }
    .textItem {
        font-family: Asap;
        font-size: 12.5px;
        line-height: 1.5;
        color: $color-blue-dark;
        margin-left: 8px;
    }
    .Force {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .ItemFlex {
        display: flex;
        height: 21px;
        align-items: center;
    }
    .LabelForce {
        font-family: Asap;
        font-size: 13px;
        color: $color-blue-dark;
        margin-left: 10px;
    }
    .Oval {
        width: 10px;
        height: 10px;
        border: solid 1px #c8cbd3;
        border-radius: 50%;
        background-color: #e0e1e6;
    }
    .Rectangle {
        width: 277.9px;
        height: 8px;
        border-radius: 4px;
        background-color: #e0e1e6;
        display: flex;
        align-items: center;
    }
    .RectangleForce {
        height: 8px;
        border-radius: 4px;
        width: 10px;
        background-color: $color-danger;
    }
    .Force-1 {
        width: 10px;
    }
    .Force-2 {
        width: 103px;
        background-color: $color-warning;
    }
    .Force-3 {
        width: 153px;
        background-color: $color-warning;
    }
    .Force-4 {
        width: 203px;
        background-color: $color-warning;
    }
    .Force-5 {
        width: 260px;
        background-color: $color-success;
    }
}
