@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';

.Bubble {
    width: 204px;
    height: 53px;
    border-radius: 3px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
    background-color: $color-blue-grey;
    position: absolute;
    z-index:2
  }

  .BubbleText {
    width: 188px;
    height: 38px;
    font-family: Asap;
    font-size: 13px;
    line-height: 1.23;
    color: #ffffff;
    position: relative;
    top: 8px; 
    left: 8px;
  }

  .InfoIcon {
      position:relative;
      cursor: pointer;
      top:3px;
      left:3px
  }


  
.PasswordStrength {
    width: 300px;
    .PasswordRules ul {
        padding: 0;
        margin: 0;
    }
    .PasswordRules {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: max-content;
        .icon {
            position: relative;
            left:70px;
            .lockIcon {
                color: $color-green;
                position: absolute;
                left: 50%;
                top: 45%;
                transform: translate(-50%, -50%);
            }
            .force-0 {
                color: $color-red;
            }
            .force-1 {
                color: $color-red;
            }
            .force-2 {
                color: $color-yellow;
            }
            .force-3 {
                color: $color-yellow;
            }
            .force-4 {
                color: $color-yellow;
            }
            .force-5 {
                color: $color-green;
            }
        }
    }
    .Description {
        font-family: Asap;
        font-size: 15px;
        line-height: 1.5;
        color: $color-dark-blue-100;
    }
    .textItem {
        font-family: Asap;
        font-size: 12.5px;
        line-height: 1.5;
        color: $color-dark-blue-100;
        margin-left: 8px;
        display: flex;
    }
    .Force {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .ItemFlex {
        display: flex;
        height: 21px;
        align-items: center;
    }
    .LabelForce {
        font-family: Asap;
        font-size: 13px;
        color: $color-dark-blue-100;
        margin-left: 10px;
    }
    .Oval {
        width: 10px;
        height: 10px;
        border: solid 1px #c8cbd3;
        border-radius: 50%;
        background-color: #e0e1e6;
    }
    .Rectangle {
        width: 277.9px;
        height: 8px;
        border-radius: 4px;
        background-color: #e0e1e6;
        display: flex;
        align-items: center;
    }
    .RectangleForce {
        height: 8px;
        border-radius: 4px;
        width: 10px;
        background-color: $color-red;
    }
    .Force-1 {
        width: 10px;
    }
    .Force-2 {
        width: 103px;
        background-color: $color-yellow;
    }
    .Force-3 {
        width: 153px;
        background-color: $color-yellow;
    }
    .Force-4 {
        width: 203px;
        background-color: $color-yellow;
    }
    .Force-5 {
        width: 260px;
        background-color: $color-green;
    }
}
