$color-blue-dark: #252a39;
$color-blue: #458bf8;
$color-red: #e53b5b;
$color-green: #40ae6c;
$color-purple: #a3005c;

:export { colorBlueDark: $color-blue-dark; }
:export { colorBlue: $color-blue; }
:export { colorRed: $color-red; }
:export { colorGreen: $color-green; }
:export { colorPurple: $color-purple; }
