$color-grey-100: #f4f6fa;
$color-grey-200: #e0e1e6;
$color-grey-300: #c8cbd3;
:export { colorGrey100: $color-grey-100 }
:export { colorGrey200: $color-grey-200 }
:export { colorGrey300: $color-grey-300; }

$color-dark-blue-100: #252a39;
$color-dark-blue-200: #171c2f;
:export { colorDarkBlue100: $color-dark-blue-100; }
:export { colorDarkBlue200: $color-dark-blue-200; }

$color-cyan: #00cafc;
$color-blue: #03a0f9;
$color-green: #40ae6c;
$color-red: #e53b5b;
$color-blue-grey: #5c6f84;
$color-yellow: #f3b100;
$color-purple: #a3005c;
:export { colorCyan: $color-cyan }
:export { colorBlue: $color-blue; }
:export { colorGreen: $color-green; }
:export { colorRed: $color-red; }
:export { colorBlueGrey: $color-blue-grey; }
:export { colorYellow: $color-yellow; }
:export { colorPurple: $color-purple; }

$color-background: $color-grey-100;
:export { colorBackground: $color-background; }
