.title {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.1px;
  text-align: left;
  color: $color-blue-dark;
  margin: 0;
  margin-bottom: 8px;
}

.title-login {
  font-size: 30px;
  line-height: 0.83;
  text-align: center;
  color: white;
}

.title-modal {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.04;
  text-align: center;
  color: $color-blue-dark !important;
  margin: 0;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 16px;
  letter-spacing: 0.1px;
  text-align: left;
  color: $color-blue-light;
  margin: 0;
}

.username {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.11;
  text-align: center;
  color: white;
}

.label {
  text-transform: uppercase;
  opacity: 0.8;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: left;
  color: white;
}

p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
}
