@import './colors.scss';
@import './fonts.scss';

body {
  margin: 0;
  padding: 0;
  font-family: Asap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-background;
}
