@import '../../styles/colors.scss';

.QRCode {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 48px;

  h1 {
    margin-bottom: 64px;
  }

  a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.7px;
    text-align: center;
    color: #458bf8;
    margin-bottom: 48px;
  }

  p {
    width: 400px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.57;
    text-align: center;
    color: $color-background;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.04;
    text-align: center;
    margin-bottom: 32px;
    color: $color-background;
  }

  .description {
    margin-bottom: 32px;
  }

  input {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.7px;
    color: #458bf8;
    margin-bottom: 48px;
    border: 1px solid $color-background;
  }

  .loader {
    margin-top: 32px;
  }
}
