@import '../../styles/colors.scss';

.typography {
  margin: 0;
  padding: 0;
}

.username {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.11;
  color: white;
  max-width: 100%;
  text-align: center;
  word-wrap: break-word;
}

.username-alt {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  color: white;
  text-transform: capitalize;
}

.title {
  font-size: 30px;
  line-height: 0.83;
  color: white;
}

.title-landing {
  font-family: 'Asap Condensed';
  font-size: 28px;
  font-weight: 600;
  line-height: 1.14;
  color: #00cafc;
  @media (max-width: 700px) {
    font-size: 22px;
    line-height: 1.36;
  }
}

.title-landing2 {
  font-family: 'Asap Condensed';
  font-size: 34px;
  font-weight: 600;
  font-stretch: condensed;
  line-height: 1.18;
  text-align: center;
  color: #252a39;
  @media (max-width: 700px) {
    font-size: 28px;
    line-height: 1.14;
  }
}

.title-page {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.1px;
  color: $color-dark-blue-100;
}

.subtitle-page {
  font-size: 14px;
  line-height: 1.36;
  color: $color-blue-grey;
}

.title-card {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
  color: $color-dark-blue-100;
}

.title-modal {
  font-size: 28px;
  font-weight: bold;
  color: $color-dark-blue-100;
  // max-width: 400px;
  text-align: center;
}

.paragraph {
  font-size: 14px;
  line-height: 1.36;
  color: $color-dark-blue-100;
}

.paragraph-landing {
  font-size: 18px;
  line-height: 1.22;
  color: #e0e1e6;
}

.paragraph-landing-dark {
  font-size: 18px;
  line-height: 1.22;
  color: #697496;
}

.paragraph-modal {
  font-size: 14px;
  line-height: 1.36;
  color: $color-dark-blue-100;
  // max-width: 400px;
  // @media (max-width: 700px) {
  //   max-width: 320px;
  // }
}

.label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

.label-nav {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: white;
}

.footer {
  font-size: 14px;
  line-height: 1.36;
  color: $color-grey-300;
}

.textFieldButton {
  font-size: 12px;
  font-weight: 600;
  color: $color-dark-blue-100;
}

.avatarUsername {
  margin: 0;
  font-weight: bold;
  letter-spacing: 0.1px;
  font-size: 55px;
  color: white;
}
