@import '../../styles/colors.scss';

.QRCode {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;

  input {
    font-size: 14px;
    font-weight: 600;
  }

  .input {
    input {
      color: $color-blue;
    }

  }
  .copied {
    input {
      color: white;
      background-color: $color-blue;
      border: solid 1px #353c52;
    }
    svg {
      color: white;
    }
  }
}

.pill {
  height: 28px;
  width: 120px;
  line-height: 28px;
  background-color: $color-green;
  color: white;
  border-radius: 50px;
  font-size: 14px;
  text-align: center;
}
