@import '../../styles/colors.scss';

.QRCode {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 48px;

  input {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.7px;
    color: $color-blue;
    margin-bottom: 48px;
    border: 1px solid $color-dark-blue-100;
  }

  .loader {
    margin-top: 32px;
  }
}
