@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.PasswordEdit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.buttons {
  @media (min-width: $mobile-width + 1px) {
    >:first-child {
      margin-right: 12px;
    }
  }

  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column-reverse;
    >:first-child {
      margin-top: 12px;
    }
  }
}
