@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';

.Card {
  border: solid 1px $color-grey-light;
  border-radius: 3px;
  background-color: white;

  .content {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
  }

  .Image {
    height: 58px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .Header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .marker {
      margin-top: 24px;
      margin-bottom: 16px;
      width: 40px;
      height: 4px;
      border-radius: 2px;
    }
  }

  .Description {
    margin-top: 8px;
    margin-bottom: 16px;
  }
}
