@import '../../styles/colors.scss';

.NavbarMobile {
  width: 100%;

  .header {
    height: 64px;
    background-color: $color-blue-darker;
    .content {
      display: flex;
      height: 100%;
      margin-left: 16px;
      margin-right: 16px;
      align-items: center;
      justify-content: space-between;

      .user {
        display: flex;
        align-items: center;
        cursor: pointer;
        img {
          width: 32px;
          height: 32px;
          border-radius: 50px;
          margin-right: 8px;
        }

        .chevron {
          margin-left: 12px;
        }
      }
    }
  }

  .nav {
    width: 100%;
    height: 56px;
    background-color: $color-blue-dark;
    color: white;

    .content {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: space-between;
      margin-left: 16px;
      margin-right: 16px;

      .navElement {
        position: relative;
        display: flex;
        height: 100%;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        color: white;
        opacity: 0.8;
        &:hover {
          opacity: 1;
        }
        :first-child {
          margin-right: 12px;
        }

      }

      .active * {
        color: $color-primary;
        opacity: 1;

        &:before {
          position: absolute;
          content: '';
          left: 0;
          bottom: 0;
          height: 2px;
          width: 100%;
          border-radius: 1px;
          background-color: $color-primary;
        }
      }
    }
  }
}
