@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.Modal {
  @media (max-width: $mobile-width) {
    position: relative;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #6c7694, #353c52);
    z-index: 2;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: white;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.16);
    opacity: 1;
    padding-top: 64px;
    padding-bottom: 32px;

    @media (min-width: $mobile-width + 1px) {
      border-radius: 6px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @media (max-width: $mobile-width) {
      top: 0;
      height: calc(100vh - 96px);
      position: fixed;
    }
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #191919;
    opacity: 0.4;
    cursor: pointer;
    margin-bottom: 44px;
  }
}
