@import '../../styles/colors.scss';

.Modal .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.Modal p {
  color: $color-blue-light;
}

.Modal .modal {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.16);
  opacity: 1;
  border-radius: 6px;
  padding-bottom: 32px;
}

.Modal .close {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  color: #191919;
  opacity: 0.4;
  cursor: pointer;
  margin-bottom: 44px;
}
