@import '../../styles/colors.scss';

.ConfirmDialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-content: space-between;
  height: 100%;

  .buttons {
    display: flex;
    @media (min-width: 801px) {
      :first-child {
        margin-right: 12px;
      }
    }

    @media (max-width: 800px) {
      display: flex;
      flex-direction: column;
      :first-child {
        margin-bottom: 12px;
      }
    }
  }
}
