@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.ConfirmDialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 100%;

  @media (min-width: $mobile-width + 1px) {
    width: 400px;
  }

  .buttons {
    display: flex;
    width: 100%;
    align-items: center;
    @media (min-width: $mobile-width + 1px) {
      justify-content: space-between;
    }

    @media (max-width: $mobile-width) {
      display: flex;
      flex-direction: column;
      >:first-child {
        margin-bottom: 12px;
      }
    }
  }
}
