.Settings {
  flex: 1;
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  grid-row-gap: 48px;
  grid-template-columns: repeat(auto-fit, minmax(290px, auto));
  margin-top: 48px;
  margin-left: 48px;

  .titleContainer {
    margin-bottom: 32px;
  }

  .inputs {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    height: 192px;
    justify-content: space-between;
  }

  .fields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .TextInput {
    width: 224px;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }

  .parameters p {
    margin: 0;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.7px;
    text-align: left;
    color: var(--grey3-color);
    max-width: 277px;
  }

  .sidebar {
    text-align: left;
  }

  .appSettings {
    margin-top: 32px;
  }

  .buttons {
    display: flex;
    align-items: center;
  }

  .exportButton {
    margin-right: 32px;
  }

  .avatar {
    margin-top: 24px;
  }
}

