@import '../../styles/colors.scss';

.Settings {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  margin-left: 48px;
  margin-right: 48px;

  .titleContainer {
    margin-bottom: 32px;
  }

  .inputs {
    margin-left: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    input {
      width: 224px;
    }
  }

  .content {
    display: flex;
    flex-direction: row;
  }

  .rightSection {
    .deleteButton {
      cursor: pointer;
      .trashIcon {
        vertical-align: text-bottom;
        margin-right: 4px;
      }
    }
  }
}

