.Settings {
  /* padding-bottom: 64px; */
  flex: 1;
  display: grid;
  grid-template-columns: auto 300px;
  margin-top: 48px;
  margin-left: 48px;
}

.Settings .title-container {
  margin-bottom: 32px;
}

.Settings .profile {
  display: flex;
}

.Settings .inputs {
  margin-left: 64px;
  display: flex;
  flex-direction: column;
  height: 192px;
  justify-content: space-between;
}

.Settings .fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Settings .TextInput {
  width: 224px;
}

.Settings .button-container {
  display: flex;
  justify-content: center;
}

.Settings .parameters p {
  margin: 0;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.7px;
  text-align: left;
  color: var(--grey3-color);
  max-width: 277px;
}

.Settings .sidebar {
  text-align: center;
}

.Settings .appSettings {
  margin-top: 32px;
}

.Settings .buttons {
  display: flex;
  align-items: center;
}

.Settings .exportButton {
  margin-right: 32px;
}
