@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.Signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.user {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.11;
  text-align: center;
  color: $color-dark-blue-100 !important;
}

.buttons {
  display: flex;
  justify-content: center;
  @media (min-width: $mobile-width + 1px) {
    >:nth-child(2) {
      margin-left: 12px;
    }
  }

  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column-reverse;
    >:first-child {
      margin-top: 12px;
    }
  }
}

.TextField {
  text-align: left;
}

.fontMedium {
  font-weight: 500;
}
