@import '../../styles/colors.scss';

.Signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.04;
  text-align: center;
  margin-bottom: 32px;
  color: $color-background;
}

.user {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.11;
  text-align: center;
  color: var(--blue-500);
}

.buttons {
  display: grid;
  margin-top: 32px;
  grid-column-gap: 16px;
  grid-template-columns: auto auto;
}

.TextField {
  text-align: left;
  width: 300px;
  margin-bottom: 16px;
}
