@import '../../styles/colors.scss';

.UnsupportedBrowser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 100%;

  .fontMedium {
    font-weight: 500;
  }

  p {
    max-width: 400px;
  }
}
