.Devices {
  flex: 1;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-gap: 32px;
  margin-top: 48px;
  margin-left: 48px;
  margin-right: 48px;

  .main {
    .Card {
      margin-top: 24px;
      max-width: 400px;
    }
  }

  .sidebar {
    text-align: left;
  }
}
