@import '../../styles/variables.scss';

.Devices {
  width: 100%;
  margin: 48px 48px 48px;

  @media (max-width: $mobile-width) {
    margin: 16px;
    width: unset;
  }

  .topSection {
    display: flex;
    height: 50px;
    justify-content: space-between;
  }

  .cards {
    display: grid;
    grid-gap: 28px;
    @media (min-width: 1200px) {
      margin-right: 365px;
    }

    @media (min-width: 1400px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .sidebar {
    text-align: left;
  }

  .FloatingButton {
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
}
