.Devices {
  flex: 1;
  display: grid;
  grid-template-columns: auto 400px;
  margin-top: 48px;
  margin-left: 48px;

  .main {
    .Card {
      margin-top: 24px;
      width: 400px;
    }
  }

  .sidebar {
    text-align: center;
  }
}
