.header {
  height: 212px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
}

.nav {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  >:not(:last-child) {
    margin-bottom: 40px;
  }

}

.navElement {
  display: flex;
  margin-left: 64px;
  align-items: center;
  cursor: pointer;
  &:hover * {
    color: #458bf8;
    fill: #458bf8;
  }
  :first-child {
    margin-right: 12px;
  }
  text-decoration: none;
}


.logout {
  position: absolute;
  bottom: 64px;
}
