@import '../../styles/variables.scss';

.End {
  max-width: 1400px;
  position: relative;
  padding-top: 64px;
  padding-left: 12px;
  padding-right: 12px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr minmax(100px, 800px) 1fr;
  justify-items: center;
  grid-gap: 12px;
  margin: auto;

  @media (max-width: $mobile-width) {
    grid-template-columns: none;
    grid-template-rows: 90px 1fr;
  }

  .Logo {
    justify-self: start;
    svg {
      min-width: 100%;
    }
  }

  .header {
    padding: 56px 232px 56px 58px;
    margin-bottom: 56px;
    border-radius: 8px;
    background: linear-gradient(224deg, #353c52, #171c2f);
    display: flex;
    svg {
      max-height: 100%;
    }

    background:
      url('../../assets/letter-colored.svg') calc(100% + 64px) calc(100% + 32px) no-repeat,
      linear-gradient(224deg, #353c52, #171c2f);

    @media (max-width: $mobile-width) {
      grid-template-columns: none;
      grid-template-rows: 100px 1fr 1fr;
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 64px;
      background:
        url('../../assets/letter-colored.svg') calc(100%) calc(100% + 290px) no-repeat,
        linear-gradient(224deg, #353c52, #171c2f);
    }

    .title {
      margin-top: 0;
      font-size: 32px;
      font-weight: bold;
      line-height: 1.13;
      letter-spacing: -1.4px;
      color: white;
    }
  }

  .paragraph {
    font-size: 16px;
    line-height: 1.25;
    color: #c8cbd3;
  }

  .paragraphLight {
    padding: 0 56px;
    font-size: 16px;
    line-height: 1.25;
    color: #5c6f84;

    @media (max-width: $mobile-width) {
      padding: 0 16px;
    }
  }
}
