@import '../../styles/variables.scss';
@import '../../styles/colors.scss';

.SyncUrl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  .textField {
    width: 100%;
  }

  .text {
    font-size: 16px;
    color: $color-dark-blue-100;
    line-height: 1.38;
    text-align: center;
  }

  .onBoardingMessage {
    cursor: pointer;
    display:flex;
    flex-direction: row;
    align-items: center;
  }
}
