@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.TextField {
  position: relative;
  width: 302px;
  display: flex;
  flex-direction: column-reverse;

  @media (max-width: $mobile-width) {
    width: 320px;
  }

  label {
    font-size: 12px;
    line-height: 1.25;
    &:first-letter {
      text-transform: capitalize;
    }
  }

  input {
    height: 29px;
    min-height: 29px;
    border-radius: 3px;
    outline: none;
    padding-left: 16px;
    padding-right: 16px;
    text-overflow: ellipsis;
  }

  .button {
    position: absolute;
    right: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 32px;
    cursor: pointer;
    color: $color-dark-blue-100;
  }
}

.textFieldButton {
  input {
    padding-right: 48px;
  }
}

.large {
  input {
    height: 46px;
    min-height: 46px;
    font-size: 20px;
    color: $color-dark-blue-100;
  }

  .button {
    height: 50px;
  }
}

.default {
  label {
    color: $color-blue-grey;
  }

  input {
    border: solid 1px $color-grey-300;
    &:focus {
      border: solid 1px $color-blue;
      + label {
        color: $color-blue;
      }
    }
  }
}

.error {
  label {
    color: $color-red;
  }

  input {
    border: solid 1px $color-red;
    &:focus {
      border: solid 1px $color-red;
    }
  }
}

.password {
  input {
    padding-right: 48px;
  }
}
