@import '../../styles/colors.scss';

.TextField {
  width: 302px;
  display: flex;
  flex-direction: column-reverse;

  @media (max-width: 500px) {
    width: 320px;
  }

  label {
    font-size: 12px;
    line-height: 1.25;
    &:first-letter {
      text-transform: capitalize;
    }
  }

  input {
    height: 29px;
    border-radius: 3px;
    outline: none;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.large {
  input {
    height: 46px;
    font-size: 20px;
    color: $color-blue-dark;
  }
}

.default {
  label {
    color: $color-neutral;
  }

  input {
    border: solid 1px $color-grey-light;
    &:focus {
      border: solid 1px $color-primary;
      + label {
        color: $color-primary;
      }
    }
  }
}

.error {
  label {
    color: $color-danger;
  }

  input {
    border: solid 1px $color-danger;
    &:focus {
      border: solid 1px $color-danger;
    }
  }
}
