@import '../../styles/colors.scss';

.Login {
  background-color: $color-blue-dark;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .title {
    margin-bottom: 32px;
  }

  .Logo {
    margin-top: 95px;
    margin-bottom: 95px;
    min-width: 316px;
    min-height: 124px;
  }

  .users {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 160px));
    grid-gap: 16px;
    text-align: center;
    justify-content: center;

    .PlusSquare {
      margin-right: auto;
      margin-left: auto;
      cursor: pointer;
    }

    .user {
      margin: auto;
      cursor: pointer;
      text-decoration: none;
    }
  }

  .passwordSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    color: white;
  }

  p {
    color: white;
  }

  .goback {
    text-decoration: none;
    display: grid;
    color: white;
    grid-column-gap: 8px;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto;
    margin-bottom: 16px;
  }

  .Background {
    background-color: $color-blue-dark;
    flex-shrink: 0;
  }
}
