@import '../../styles/colors.scss';

.Login {
  background-color: $color-dark-blue-100;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .content {
    width: 100%;
  }

  .Background {
    background-color: $color-dark-blue-100;
    flex-shrink: 0;
  }
}

.usersSelection {
  width: 100%;
  text-align: center;
}

.users {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 120px));
  grid-gap: 64px;
  text-align: center;
  justify-content: center;

  .PlusSquare {
    z-index: 1;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }

  .user {
    cursor: pointer;
    text-decoration: none;
  }
}

.userPassword {
  text-align: center;
  margin: auto;
  width: 320px;
  .passwordSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.goback {
  text-decoration: none;
  display: grid;
  color: white;
  grid-column-gap: 8px;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto;
  margin-bottom: 16px;
  cursor: pointer;
}
