@import '../../styles/colors.scss';

.SyncMethod {
  height: 100%;
  text-align: center;
  .content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .text {
      width: 90%;
      font-size: 16px;
      color: $color-dark-blue-100;
      line-height: 1.38;
      text-align: center;
    }
    .onBoardingMessage {
      cursor: pointer;
      display:flex;
      flex-direction: row;
    }
    .separation {
      display:flex;
      flex-direction: row;
      align-items: center;
      .divider {   
        width: 150px;
        height: 1px;
        background-color: $color-grey-200;
      }
    }
  }
}


