@import '../../styles/colors.scss';

.Landing {
  width: 100%;
  background-color: $color-dark-blue-100;

  @media (max-width: 700px) {
    text-align: center;
  }

  svg {
    max-width: 100%;
  }

  .section1 {
    padding: 68px 20px 0 20px;
    min-height: 660px;
    // background-color: $color-dark-blue-100;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;

    @media (max-width: 700px) {
      .Logo {
        margin: auto;
        max-width: 36%;
      }
    }

    .connectBtn {
      position: absolute;
      z-index: 3;
      top: 27px;
      right: 48px;
    }

    .title {
      margin: auto;
      max-width: 689px;
      p {
        font-family: 'Asap Condensed';
        margin: 0;
        font-size: 40px;
        font-weight: 600;
        line-height: 1.13;
        text-align: center;
        color: white;

        @media (max-width: 700px) {
          font-size: 28px;
          line-height: 1.25;
        }
      }
    }

    .accountBtn {
      width: 340px;
      margin: auto;
    }
  }

  .text {
    max-width: 380px;

    :first-child {
      margin-bottom: 32px;

      @media (max-width: 700px) {
        margin-bottom: 12px;
      }
    }
  }

  .section2 {
    width: 100%;
    margin-top: -160px;

    .Box {
      display: flex;
      padding: 0 16px;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      margin-bottom: 26px;
      max-width: 680px;

      :first-child {
        margin-right: 16px;
      }

      @media (max-width: 700px) {
        margin-bottom: 48px;
        flex-direction: column-reverse;
        .text {
          margin-top: 28px;
        }

        svg {
          max-width: 35%;
          height: 100%;
        }
      }
    }

    .Hdd {
      display: flex;
      padding: 0 16px;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      max-width: 740px;
      margin-bottom: 95px;

      :first-child {
        margin-right: 16px;
      }

      @media (max-width: 700px) {
        margin-bottom: 64px;
        flex-direction: column;
        .text {
          margin-top: 28px;
        }

        svg {
          max-width: 50%;
          max-height: 100%;
        }
      }
    }

    .Devices {
      display: flex;
      padding: 0 16px;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      max-width: 880px;

      :first-child {
        margin-right: 16px;
      }

      @media (max-width: 700px) {
        flex-direction: column-reverse;
        .text {
          margin-top: 28px;
        }
      }
    }
  }

  .section3 {
    margin-top: 76px;
    padding-top: 218px;
    padding-bottom: 112px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    .title {
      margin: auto;
      max-width: 500px;
      padding: 16px;
      margin-bottom: 62px;
      @media (max-width: 700px) {
        margin-bottom: 0;
      }
    }

    .Shield {
      display: flex;
      padding: 0 16px;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      max-width: 860px;
      margin-bottom: 100px;

      :first-child {
        margin-right: 16px;
      }

      @media (max-width: 700px) {
        flex-direction: column;
        margin-bottom:16px;
        svg {
          max-width: 214px;
        }
      }
    }

    .Windows {
      display: flex;
      padding: 0 16px;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      max-width: 840px;

      :first-child {
        margin-right: 16px;
      }

      @media (max-width: 700px) {
        flex-direction: column-reverse;

        svg {
          max-width: 222px;
        }
      }
    }
  }

  .Footer {
    display: flex;
    align-items: center;
    height: 77px;
    margin-left: 34px;
    margin-right: 96px;
    justify-content: space-between;

    :first-child {
      width: unset;
    }

    a {
      text-decoration: none;
    }

    @media (max-width: 700px) {
      height: 100%;
      margin-right: 16px;
      align-items: baseline;
      padding-top: 32px;
      padding-bottom: 32px;
    }

    .links {
      display: flex;
      flex-direction: row;
      *:not(:first-child) {
        margin-left: 20px;
      }

      @media (max-width: 700px) {
        flex-direction: column;
        text-align: right;
        *:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }
}
