.header {
  height: 212px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
}

.nav {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  >:not(:last-child) {
    margin-bottom: 40px;
  }
}

.navElement {
  display: flex;
  margin-left: 70px;
  align-items: center;
  cursor: pointer;
  &:hover * {
    opacity: 1;
  }
  :first-child {
    margin-right: 12px;
  }
  text-decoration: none;
  color: white;
}

.active * {
  color: #458bf8;
  fill: #458bf8;
}

.active.navElement {
  &::before {
    position: absolute;
    content: '';
    left: 44px;
    height: 21px;
    width: 2px;
    border-radius: 1px;
    background-color: #458bf8;
  }
}

.logout {
  position: absolute;
  bottom: 64px;
}
